body {
  margin-top: 30px;
  color: #5a6275;
  font-family: "Poppins", sans-serif;
}
header {
  margin-top: 10px;
  padding: 30px 0 0;
}
h1,
h4 {
  font-weight: bold;
}
.pageLayout {
  max-width: 700px;
  display: block;
  border: 0.1px solid #5a6275;
  border-radius: 10px;
  padding: 20px 50px;
}

.formDesign {
  line-height: 32.5px;
}

.current_temp {
  text-align: center;
  font-size: 30px;
  font-weight: 100px;
}
.celsius {
  color: teal;
}
.currentWeather ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.sunshine {
  color: rgba(235, 231, 4, 0.945);
  font-size: 100px;
}

.prediction ul {
  list-style: none;
  text-align: center;
  border-left: 0.2px solid #5a6275;
}
.geoLocation {
  background-color: red;
}

.temp-units {
  position: relative;
  font-size: 12px;
  top: -10px;
}
